.title {
  display: flex;
  align-items: center;
  color: #fff;
  margin-bottom: .38rem;
}

.panel{
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  &+ .panel {
    margin-top: 20px;
  }
}

.wrapper{
  margin: 20px 0;
  display: flex;
  justify-content: space-between;
  & > div{
    width: calc(50% - 10px);
    &+ .panel{
      margin-top: 0;
    }
  }
}
