.title {
  display: flex;
  align-items: center;
  color: #fff;
  margin-bottom: .38rem;
}

.panel{
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  &+ .panel {
    margin-top: 20px;
  }
}

.wrapper{
  margin: 20px 0;
  display: flex;
  justify-content: space-between;
  .panel{
    width: calc(50% - 10px);
    &+ .panel{
      margin-top: 0;
    }
  }
}

.header{
  color: #333;
  font-size: 16px;
  padding-bottom: 10px;
  font-weight: 500;
  // border-bottom: 1px solid rgba(51, 51, 51, 0.18);
}

.row{
  display: flex;
}
