.wrapper{
  margin: 0 -20px;
  .row{
    display: flex;
    width: 100%;
    .col{
      flex: 1;
      text-align: center;
      padding: 8px 0;
      white-space: pre;
      display: flex;
      align-items: center;
      justify-content: center;
      border-bottom: 1px solid #eee;
      &.highlight{
        color: #003BE8;
        font-size: 14px;
        font-weight: 600;
        cursor: pointer;
      }
    }
  }
}
