.wrapper{
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  .header{
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
  }
  .main{
    border-top: 1px solid rgba(51, 51, 51, 0.18);
    padding-top: 20px;
    .row{
      display: flex;
      justify-content: space-between;
      width: 100%;
      text-align: center;
      .col{
        width: calc(100% / 8);
        flex-wrap: wrap;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
      }
    }
  }
}
