.title {
  display: flex;
  align-items: center;
  color: #fff;
  margin-bottom: .38rem;
  img {
    width: 24px;
    height: 24px;
    margin-right: 10px;
  }
}

.panel{
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  .wrapper{
    .row{
      display: flex;
      .col{
        flex: 1;
        text-align: center;
        padding: 8px 0;
        white-space: pre;
        display: flex;
        align-items: center;
        justify-content: center;
        border-bottom: 1px solid #eee;
        &.highlight{
          color: #003BE8;
          font-size: 14px;
          font-weight: 600;
          cursor: pointer;
        }
      }
    }
  }
  .pagination{
    margin-top: 20px;
    text-align: center;
  }
}

